# Actividad 1

1. Descargue e Instale algún manejador de bases de datos. (Les recomiendo DB Browser for SQLite, pero pueden instalarse cualquiera de los vistos en la clase).
Link: https://sqlitebrowser.org/dl/

2. Abra el programa: por ejemplo, el DB Browser for SQLite.\
    a. Presionar en el botón Nueva base de datos.\
    b. Colocar un nombre de su primer base de datos y guárdelo en una carpeta de la primera clase. Por ejemplo, colcar el nombre: “miprimerabase”. El archivo será miprimerabase.db\
    c. A continuación, aparecerá una nueva ventana. La misma sirve para crear tablas.\
    d. Ahora presione donde dice Añadir.\
    e. Coloque su nombre en el campo vacío.\
    f. A continuación, en la primera celda de la columna Nombre remplace “Field1” y colóquele dni, ese nombre será una columna de su tabla.\
    g. Además, elija dentro de las opciones del Tipo, el valor INTEGER.\
    h. A continuación, presione en Aceptar.

    ENVÍE UNA CAPTURA COMO LA QUE APARECE EN LA IMAGEN, EN DONDE SE VEA LA TABLA CON SU NOMBRE Y LA COLUMNA dni.

3. Revise las pestañas: Estructura y Ejecutar SQL. Ambas son muy importantes para ejecutar código y visualizar los datos.

Presione Control + S, para guardar cambios en la BD. Puede cerrar el programa.

Para ver el enunciado con más detalle: <a href="Enunciados\Actividad 1.pdf">Actividad 1</a>

<img src="img\RActividad1.jpg">

# Actividad 2

1. Genere una base de datos, colóquele un nombre y guárdelo. Luego agregue las siguientes tablas: (utilice el código que se les proporciona)\
    Para crear las tablas, abra el archivo tablas.txt y para cada bloque de código copie y péguelo en el espacio de consultas SQL y ejecútelo.

2. Escriba 4 consultas (sentencias) de SQL distintas utilizando SELECT, FROM y WHERE.

3. Guarde las consultas en un archivo txt y súbalo publíquelo en el foro.

Para ver el enunciado con más detalle: <a href="Enunciados\Actividad 2.pdf">Actividad 2</a>

## Codigo Proporcionado

In [ ]:
CREATE TABLE Alumno (
  idAlumno INT PRIMARY KEY,
  nombre VARCHAR(50),
  apellido VARCHAR(50),
  fechaNacimiento DATE,
  direccion VARCHAR(100),
  telefono VARCHAR(20)
);


CREATE TABLE Curso (
  idCurso INT PRIMARY KEY,
  nombre VARCHAR(100),
  descripcion TEXT,
  fechaInicio DATE,
  fechaFin DATE
);


CREATE TABLE Inscripcion (
  idInscripcion INT PRIMARY KEY,
  idAlumno INT,
  idCurso INT,
  fechaInscripcion DATE,
  FOREIGN KEY (idAlumno) REFERENCES Alumno(idAlumno),
  FOREIGN KEY (idCurso) REFERENCES Curso(idCurso)
);

## Sentencias SQL

In [ ]:
SELECT * FROM Alumno;

SELECT nombre, descripcion, fechaInicio FROM Curso;

SELECT descripcion, fechaInicio, fechaFin FROM Curso WHERE nombre = "Python";

SELECT direccion, telefono FROM Alumno WHERE nombre = "S%" AND apellido = "B%";